numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
jupyter
notebook
nltk
opencv-python
tensorflow
keras
torch
torchvision
torchaudio
statsmodels
plotly
imbalanced-learn
xgboost
lightgbm
mlxtend
pydotplus
graphviz
wordcloud